@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

.active {
  color: #000;
}


.progress-circle {
  visibility:hidden;
  height:0;
  width:0;
}

.progress-bar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: 
    radial-gradient(closest-side, white 79%, transparent 80% 100%),
    conic-gradient(#419bf9 64%, rgb(235, 234, 234) 0);    
}
